@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Outfit:wght@100..900&family=Rock+Salt&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Outfit:wght@100..900&family=Rock+Salt&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Outfit:wght@100..900&family=Rock+Salt&family=Sigmar&display=swap');


*{
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Fraunces", serif;
    text-transform: uppercase;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.nav {
  display: flex;
  justify-content: space-between;

  position: relative;
 
}
.nav .nav-list {
    gap: 30px;
  }
  .nav h4{
    color: white;
    margin-top: 2em;
    scale: 1.3;
    margin-left: 5em;
  }
.nav .nav-list li {
  list-style: none;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin-top: 2em;
  color: white;
}
.nav .nav-list li:nth-child(4) {
    background-color: rgb(83, 206, 255);
    border-radius: 30px;
   
  }
.nav-list {
  display: flex;
}
.header {
    width: 100%;
    height: 70vh; 
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    position: relative; 
    object-fit: cover;
    z-index: 0; 
    top: 0;
    left: 0;
}
.header h1{
    color: white;
    font-size: 2.5em;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 2em;
}
.arrow{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.content1{
    width: 100%;
    height: 400px;
    display: flex;
}
.sec1{
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.sec1-content{
    width: 31%;
}
.sec1-content h2{
    margin-bottom: 10px;
}
.sec2 {
    width: 50%;
    height: 300px;  
    position: relative;

}
a{
    color: black;
    text-decoration-color: yellow;
    font-weight: bold;
}
.sec2 img {
    width: 100%; 
    height: 400px;
    object-fit: cover; 
    top: 0;
    left: 0;
    background-position: center;
 
}
.sec3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-graphic-design.jpg");
}
.sec-detail{
    width: 30%;
    margin-top: 8em;
}
.sec4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-photography.jpg");
}
.sec5{
    width: 100%;
    height: 400px;
   display: flex;
   flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}
.sec-card{
    width: 300px;
    height: 300px;
    
}
.sec-card img{
   border-radius: 50%;
   width: 20%;
   margin-top: 20%;
}
.sec-card .detail{
    margin-top: 10%;
    
 }
 .sec-card p{
    margin-top: 5%;
    
 }
 .sec-card .detail p{
    font-size: 12px;
    color: gray
    
 }
.card-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.sec6{
    width: 100%;
    height: 400px; 
    display: flex;
}
.sec6-pic{
    width: 25%;
    background-color: red;
    height: 400px;
    object-fit: cover;
}
.sec6-pic:nth-child(1){
    background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
    background-size: cover;
}
.sec6-pic:nth-child(2){
    background-image: url("./images/desktop/image-gallery-orange.jpg");
    background-size: cover;
}
.sec6-pic:nth-child(3){
    background-image: url("./images/desktop/image-gallery-cone.jpg");
    background-size: cover;
}
.sec6-pic:nth-child(4){
    background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
    background-size: cover;
}
.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;    
    background-color: aqua;
}
.footer-detail img:hover{
    color: white;
   
}
.footer-detail img{
    margin: 10px;
   
}
.footer-list{
list-style: none;
display: flex;
}
.footer-list li{
    margin: 30px;
}
.footer-list li:hover{
    color: white;
    transition: 0.2s;
}
